[submodule "src/main/java"]
	path = src/main/java
	url = git://github.com/karihotchkiss/testJavaSDK2.git
[submodule "src/main/webapp/sdk"]
	path = src/main/webapp/sdk
	url = git://github.com/karihotchkiss/testJS.git
